.card-cont {
  background-image: url('https://assets.ccbp.in/frontend/react-js/music-playlist/music-playlist-Edsheeran-bg.png');
  height: 55vh;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #152850;
}
.singer-cont {
  margin-left: 60px;
  color: #ffffff;
  font-family: 'Roboto';
}
.input-cont {
  display: flex;
  justify-content: space-between;
}
.playlist-style {
  color: #ffffff;
  font-family: 'Roboto';
  margin-left: 30px;
  font-size: 24px;
  margin-top: 20px;
}
.input-style {
  height: 25px;
  margin-right: 30px;
  margin-top: 20px;
  background-color: transparent;
  border-style: solid;
  color: #ffffff;
  padding-left: 8px;
  font-size: 18px;
  font-family: 'Roboto';
  border-color: #ffffff;
}
.songs-cont {
  background-color: #152850;
  min-height: 100vh;
  padding-bottom: 20px;
}
.song-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}
.song-img {
  height: 180px;
  width: 300px;
}
.img-cont {
  display: flex;
  width: 50%;
}
.song-name-cont {
  font-size: 'Roboto';
  margin-left: 15px;
  color: #ffffff;
}
.song-para {
  color: #3b82f6;
}
.duration-cont {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 15%;
}
.duration {
  font-family: 'Roboto';
  color: #ffffff;
}
.dlt-btn {
  height: 25px;
  width: auto;
  color: #ffffff;
  background-color: transparent;
  border-style: none;
}
